*{
     margin:0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/Personal-web-backg.jpg);
    background-size: cover;
    background-repeat: no-repeat
}
.page-content{
    /* background-color:rgb(83, 76, 76); */
    display: flex;
    flex-direction: column;
    color: black;
    height: 100vh;
    
}
.page-content .image-back{
    height:93vh;
    width: 100vw;
    background-size: cover;
    background-color: black;
}
.page-content .image-back img{
    height: 100%;
    width: 100%;
    opacity: 0.3;
    background-color: black;
}
.content-overlay{
    position: absolute;
    height: 90%;
    width: 100%;
    top: 0;
    
}

.navigation{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo img{
    margin:10px 35px;
    max-height: 50px;
    color: black;
    font-weight: bolder;   
}

.logo{
    display: inline-block;
}

nav{
    margin-top: 10px;

}
nav ul{
   float: right;
   margin-right: 10px ;
}
nav ul li{
   list-style-type: none;
   display: inline-block;
}
nav ul li a{
   text-decoration: none;
   padding: 60px;
   color: white;
   font-size: 30px;
   
}
#active{
    text-decoration: underline;
}
.About{
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    padding:0 20px;
    justify-content: space-between;
}
.resume{
    align-self: flex-end;
}
.About-me{
    display: flex;
    flex-direction: column;
   }
#Abt{
    color: #354A2B;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 30px;
}
#me{
    font-family: Rasa;
    font-size: 25px;
}
.skill-level{
    display: flex;
    flex-direction: column;
    margin: 12vh;
}
footer{
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: grey
}
.prog{
    display: flex;
    flex-direction: row;

}
.copyright{
    margin: center;
    color: white;
    text-align: center;
    padding-top: 10px;
}
progress{
    height: 30px;
    width: 420px;
}
.prog label{
    width: 80px;
}
label .iconify{
    font-size: 30px;
}
label i{
    font-size: 40px;
}
.mongo-db{
    color: green;
}
@media screen and (max-width: 670px){
    .About{
        display: grid;
        grid-template-columns: auto;    
    }
    .About .About-me{
        display: grid;
        grid-template-columns: auto;
    }
    body{
        display: grid;
        grid-template-columns: auto;
    }
 }
@media screen and (max-width: 670px){}
@media screen and (max-width: 670px){}
@media screen and (max-width: 670px){}
@media screen and (max-width: 670px){}
@media screen and (max-width: 670px){}
