/*Start Blog Page Area*/
.nav-sep{
    background-color: #ffffff;
    background-image: url("../assets/tech.jpg");
    padding-bottom: 200px;
}
.blog_area {
    /* background-color: #d13535; */
    /* padding: 50px 0 20% 0; */
    text-align: center;
    /* color: green; */
    /* display: flex; */
  }

  /* .container{
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
  }
  .container .blog_area{
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
  } */
  
  .blog_title h2 {
    /* border-bottom: 8px solid white;
    margin-bottom: 60px;
    padding-bottom: 10px; */
    font-style: bold;
    font-size: 8rem;
    text-align: center;
    /* margin-left: 24rem; */
  }
  .blog-image{
      width: 100%;
      height: 20vh;
      object-fit: cover;
  }
  
  
  .ind_blog article {
    padding: 10px;
    color: rgb(39, 34, 34);
  }
  
  .ind_blog article header h2 {
    font-size: 24px;
    line-height: 1.5em;
    color: #757575;
  }
  
  .ind_blog article header ul li {
    margin-bottom: 15px;
    color: #f2f2f2
  }
  
  .ind_blog article header ul li a {
    color: #adadad;
  }
  
  .blog_news p {
    color: #242424;
    text-align: justify;
  }
  
  .blog_news_cat small {
    color: #adadad;
    
  }
  
  .btn_outline {
    padding: .65em 1.25em;
    font-size: inherit;
    color: #20515b;
    background: transparent;
    border-color: #20515b;
    border-radius: .25em;
  }
  
  .blog_see_all {
    padding-top: 50px;
  }
  
  .blog_see_all a:hover {
    background: #20515b;
    color: #ffffff;
  }

  .blog {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #readmore{
    text-align: center;
  }

  #readmoreBtn{
    text-align: center;
    margin: 0 100%;
  }
  /*End Blog Page Area*/

  .ind_blog {
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    width: 100%;
  }
  /* Responsiveness with media queries */

  @media only screen and (max-width: 945px) {
    .blog {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2,1fr);
    }

    .ind_blog {
      background: #ffffff;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
      margin-bottom: 50px;
      width: 300%;
    }
  }

  @media (max-width: 790px) {
    
    .ind_blog {
      background: #ffffff;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
      margin-bottom: 50px;
      width: 110%;
    }
  }

  @media only screen and (max-width: 500px) {
    /* .blog_area {
      background-color: #ffffff;
      color: green;
      padding: 20px 0 80px 0;
      padding-left: 2px;
      padding-right: 60rem;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-right: 60rem;
      margin-left: 2px;
    } */
    .blog {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  