*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand img{
    height: 30px;
    padding:0 20px;
    font-weight: bolder;
}
.navbar ul li a{
    float: right;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.nav-link{
    font-weight: 600;
    color:white !important;

}
.navbar{
    background-color: black !important;
}

.mainSection{
    background-color: rgba(255, 255, 255, 0.5);
    height:55vw;
}
.content{
    padding: 15px 5px;
    font-weight: 900;
}
.content img{
    height:40px;
    border-radius: 50%;
    padding:0 8px;
}
.content a{
    color:black;
}

#right-pane{
    background-color: rgb(6, 107, 28);
    border-radius:30px;
    padding: 30px;
    color: white;
}
.bio{
    display: block;
}

.edit-button{
    cursor: pointer;
}

.edit-button img{
    height:20px;
    border-radius: 50%;
    padding: 3px 3px;
}

.profile-image img{
    border-radius: 50%;
}

.footer{
    background-color: black;
    height:4.8vw;
    position: absolute;
    bottom:0;
    color: white;
    text-align: center;
    padding: 20px;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.432),rgba(0, 0, 0, 0.452)),url(../assets/tech.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    height: 9vh;
    background-color: rgb(0, 0, 0);
}
.heading{

    margin-top: 35vh;
    margin-bottom: 56vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading h1{
    font-size: 80px;
    color: #fff;
}
.trending-posts{
    background-color: #fff;
    padding: 4vw 10vw;
}
.trending-posts h1{
    margin-bottom: 10px;
    font-size: 40px;

}
.posts-title{
    line-height: small;
    font-size: 20px;
    margin-bottom: 3vh;
    font-style: bold;
}
.posts-list{
    display: flex;
    padding-top: 4vh;

}
.posts-list .post-item{
    margin-right: 20px;
    /* font-size: larger; */
    font-size: 19px;
    display: flex;
    flex-direction: column;
}
.posts-list .post-item img{
    width: 100%;
    height: 50vh;
}
.announcements{
    background-color: rgba(255, 255, 255, 0.836);
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    align-items: center;
}

.announcements h1{
    font-size: 45px;
}
.announcement{
    margin-top: 30px;
    background-color: azure;
    padding: 40px;
}
footer{
    background-color: black;
    height:4.8vw;
    /* position: absolute; */
    bottom:0;
    color: white;
    text-align: center;
    padding: 15px;
}
@media (max-width:500px){
    .posts-list{
        display: flex;
        flex-direction: column;
    }
    .announcements{
        margin: 0;
    }
}