*{
    margin: 0px;
    padding: 0px;
  

}
body{
    font-family: verdana;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
nav{
     margin-top: 0px;

}
nav ul{
    float: right;
    margin-right: 10px ;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding: 60px;
    color: white;
    
}
.log{
    color: rgba(46, 42, 42, 0.5);
}
.log:hover{
    text-decoration: none;
    color: saddlebrown;
}
#form{
    padding: 20px;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.form-outer{
    background-color:  rgba(49, 51, 51, 0.6);
    padding:8px;
}
.form-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.form-inner, .form-outer{
    border-radius: 20px;
}
.form-title{
    font-size: 18px;
    font-weight: 600;
}
.form-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.form-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea{
    width: 90%;
    height: 150px;
}

input{
    width: 90%;
    
}

input, textarea{
    border-radius: 5px;
    outline: none;
}



@media only screen and (max-width: 798px) {
    .form-inner{
        flex-direction: column;
    }
    .logo{
        align-self: flex-start;
        justify-self: start;
    }
}

@media only screen and (max-width: 799px) {
    
}
@media only screen and (max-width: 799px) {
    body{
        padding-bottom: 10px;
    }
}