body{
    margin:0;
    padding:0;
    height: 100vh;
}

#main{
    background-image: url("../assets/Personal-web-backg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh;
    overflow: hidden;
    
}

.overlay{
    background-color: rgba(0, 0, 0, 0.507);
    height: 120vh;
    
}

.profile-picture{
    border-radius: 50%;
    height: 70px;
    width:70px;
    display: block;
}

.salutation{
    color:white;
}
.contact-btn{
    padding: 4px 15px;
    font-size: 17px;
    background-color: cornflowerblue;
    border-radius: 20px;
}

.social-media img{
    height:45px;
    padding:10px 20px;
}






@media only screen and (max-height: 500px) {
    #main{
        overflow: scroll;
    }

}
