#form{
    margin: 15px 10px;
}

.box{
    background-color: rgb(93, 100, 94);
    border-radius: 20px;
    padding:20px;
    
}
#active{
    text-decoration: underline;
}
.err{
    color: red;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 18px;
    visibility: hidden;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.create-acc{
    border-radius: 10px;
}
.create-acc:hover{
    color: wheat;
    text-decoration: none;
}


.input{
    border-radius: 30px;
    height: 40px;
    width: 250px;
    padding:5px 10px;
}
.textarea{
    border-radius: 30px;
    width: 250px;
    height: 80px;

}
.btn{
    border:  black;
    background-color: lightgrey;
}

:focus{
    outline: none;
}    
@media only screen and (min-width: 600px) {
    .downFooter{
    position: relative;
    bottom: 0;
    }
    #footer{
        position: absolute;
        padding-bottom: 0%;
    }
}